.fixed {
    position: fixed;
    width: 100%;
    background-color: #bf7fbf;
    z-index: 9999;
    top: 0;
}
#image_div {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}
#image_div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#navbar {
  border-bottom: 2px solid #bf7fbf;
}
.navbar {
  background-color: #800080;
}
#background {
  background-color: #800080;
}
#font {
  font-size: 1.1em;
  color: white;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#name {
  font-size:1.2em;
  color: white;
  font-family:  Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: italic;
}
h1{
    text-align: center;
    line-height: 1.5em;
    color: #800080;
    font-size: 35px;
    font-weight: 400;
}
#orange {
  color: orange;
}
#blue {
  color: blue;
}
#green {
  color: green;
}
.intro-text {
  text-align: center;
  padding: 10px 10px 10px 10px;
  font-size: 2.2em;
  color: #FF0080;
}
#icon {
  border-radius: 50%;
  border: 2px solid #800080;
  padding: 15px 15px 15px 15px;
}
#arrow {
  text-align: center;
}
.top {
  top: 50px;
}
.intro {
  margin-top: 120px;
  margin-bottom: 100px;
}
.margin {
  margin-top: 18%;
  margin-bottom: 5%;
}
#right {
  margin-left: 20%;
}
.text-lines {
  font-size: 1.8em;
  color: white;
  font-family: cursive;

}
.message-end {
  padding: 2% 2% 2% 2%;
  font-size: 2.2em;
  font-weight: 500;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #bf7fbf;
}
.sub-headings {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #bf7fbf;
  font-weight: 700;
}
.about-para {
  font-family: Arial;
  color: white;
  font-size: 22px;
  text-align: justify;
  padding: 2% 2% 2% 2%;
}
.introducing {
  font-family: cursive;
  font-size: 20px;
  color: white;
}
.main_logo {
  width: 100%;
  background-color: white;
  height: 20%;
  margin: 0 auto;
}
.vision {
  font-size: 1.6em;
  color: white;
}
.small-text {
  font-size: 1.1em;
  color: white;
}
.mission {
  font-size: 1.6em;
  color: white;
  font-family: fantasy;
}
.question {
  font-size: 1.3em;
  color: white;
}
.answer {
  font-size: 1.9em;
  color: white;
  font-family: Arial;
}
.link {
  font-size: 1.2em;
}
.number {
  font-size: 1.4em;
  color: white;
}
.faltu {
  margin-top: 100px;
  margin-bottom: 100px;
}
#contact {
  margin-top: 5%;
}

/*Media Queries for width < 500*/

@media only screen and (max-width: 500px) {
  .text-lines {
    font-size: 1.3em;
  }
  #image_width {
    width: 60%;
  }
  .about-para {
    font-size: 1.3em;
  }
  .vision {
    font-size: 1.3em;
  }
  .mission {
    font-size: 1.3em;
  }
  .answer {
    font-size: 1.5em;
  }
  .question {
    font-size: 1em;
  }

}

Media Queris for

@media only screen and (max-width: 768px) {

  #image_width {
    width: 80%;
  }

}
