.purple {
	background-color: #800080;
	height: 100%;
	margin-top:;
}
.individual {
	width: 70%;
	margin: 0 auto;
}

#message {
	font-size: 25px;
	line-height: 1.8;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
}
#right {
	text-align: right;
}
.border {
	border-bottom: 2px solid black;
}
li {
	list-style-type: none;
}
.intro_text {
	font-size: 35px;
	font-family: Trebuchet MS;
	text-align: center;
}
.width {
	width: 100%;
	position: ;
}
#biz_c_heading {
	font-family: Arial;
	text-align: center;
	padding-top: 5%;
	font-weight: 300;
}
.xyz {
	text-align: center;
}
.row {
	margin-top: -5%;
}

h2 {
	color: #bf7fbf;
}
#size_small {
	font-size: 15px;
}
p {
	font-size: 19px;
	font-family: Arial;
	text-align: left;
}
.center {
	font-size: 19px;
	font-family: Arial;
	text-shadow: 1px 4px 8px #258991;
}
.margin {
	margin-top: -5%;
}
h4 {
	color: #bf7fbf;
}
#customer_members {
	width: 90%;
	margin: 0 auto;
}
#business_members {
	width: 90%;
	margin: 0 auto;
}

li {
	list-style-type: none;
}
.section {
	width: 80%;
	margin: 0 auto;
	font-family: Sans-serif;
	font-weight: 500;
	font-size: 18px;
	border: 1px solid #400040;
	text-align: center;
	border-radius: 5px;
	background-color: #993299;
	padding: 1% 1% 1% 1%;
}
.inside_sections {
	width: 80%;
	margin: 0 auto;
	font-family: Verdana;
	border: 1px solid #400040;
	border-radius: 5px;
	background-color: #b266b2;
	display: none;
	font-size: 16px;
}
#benefits {
	width: 80%;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}
#small_text {
	font-size: 18px;
	font-family: arial;
}

#form_div {
	width: 60%;
	margin: 0 auto;
	font-family: Arial;
}
#bizC {
	margin-top: 15%;
	text-align: center;
}
#cb {
	width:60px;
	margin: 0 auto;
}

#ads {
	margin: 5%;
	margin: 0 auto;
	margin-top: 20%;
	height: 60%;
	width: 80%;
	background-color: #bf9fbf;

}
#app {
	text-align: center;
}
#question {
	width: 80%;
	font-family: Arial;
	font-size: 16px;
	margin: 0 auto;
}
#get_text {
	font-family:fantasy;
}
#logo_div {
	background-color: white;
	width: 100%;
	height: 20%;
}
#logo {
	width: 60%;
	height: 20%;
	margin: 0 auto;
}
.app {
	display: none;
}
#soon {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
#inside_soon {
	text-align: center;
}
#ask {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-style: italic;
	font-size: larger;
}

@media screen and (max-width: 768px) {
  .mobile {
  	margin-top: 10%;
  }
  p {
  	font-size: 12px;
  }
  #question {
  	font-size: 10px;
  	margin: 0;
  }
  #small_text {
  	font-size: 12px;
  }
  h2 {
  	font-size: 16px;
  }
  h4 {
  	font-size: 13px;
  }
  .section {
  	font-weight: 350;
  	font-size: 14px;
  	
  }
  .inside_sections {
  
  	font-size: 11px;
  }
  span {
  	display: hidden;
  }
}



/*@media screen and (max-width: 450px) {
  .mobile {
  	margin-top: 10%;
  }
  p {
  	font-size: 10px;
  }
  #question {
  	font-size: 8px;
  	margin: 0;
  }
  #small_text {
  	font-size: 10px;
  }
  h2 {
  	font-size: 14px;
  }
  h4 {
  	font-size: 11px;
  }
  .section {
  	font-weight: 350;
  	font-size: 12px;
  	margin: 0;
  }
  .inside_sections {
  
  	font-size: 9px;
  	margin: 0;
  }
  span {
  	display: hidden;
  }
  #bc_page {
  	display: none;
  }
  .app {
  	margin-top:25%;
  	display: none; 
  }
}*/

@media screen and (max-width: 550px) {
	
	p {
		font-size: 1.3em;
	}
	#ask {
		font-size: 1.1em;
	}


}