{% load static %}
{% load staticfiles %}
<html lang="en" class="purple">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Members</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
    <link href="{% static 'new1.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
</head>
<body class="purple">
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation" style="background-color: #800080;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                  <span class="light"><i>ISHAN CREATIONS</i></span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
           <div class="purple width"> <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'icbc' %}">Members</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'b_c' %}">Business Category</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div></div>
        <!-- /.container -->
    </nav>

    <div class="purple mobile">
        <div class="margin">
        <section id="icbc" class="container content-section text-center">
        <div class="row">
        	<h2>Exclusively for our Members:</h2>

        </div>
    </div>

    <div id="customer_members">
        <h4>Consumer/Individual Members</h4>
         <ul>
        <li><div id="section1" class="section"><div>Empowering Consumer &nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i></div></div>
<div id="inside_section1" class="inside_sections">
    
<i class="fa fa-star" aria-hidden="true"></i> Value for Money<br>
<i class="fa fa-star" aria-hidden="true"></i> Time Saving<br> 
<i class="fa fa-star" aria-hidden="true"></i> Money Saving<br>
<i class="fa fa-star" aria-hidden="true"></i> Enhances Family Bonding<br>

</div>
        </li>
         </ul>
    <div id="benefits">
         <h4>Benefits for Consumer</h4>
         <p><span>We intend to provide our Privilege Card members with a plentiful Privileges & Benefits on:<br></span>
            <br>
            <span style="font-family:ComicSans;">
Daily Needs / Medical & Health Care / Clothing & Footwear / Food Zone / Fitness Zone / Home Appliances / Home Decor / Personal Care / Travel Zone / S.O.D. Zone / Entertainment Zone/ Consultancy / Education Zone / Hobby Zone / Photo World / Stationary Zone/ Automobile Zone / Real Estate / Tech Zone / Hardware Zone / Jewellery Zone / Pet Zone / Repair Zone  / Banquets & Party Halls / and Many More….......</span>
</p>

    <p id='app'>Click on <a href="{% url 'b_c' %}">Business Categories</a> to explore.<br>
    <a href="{% static 'abc.apk' %}">Click Here</a> to download our <i class="fa fa-android 3x" aria-hidden="true"></i> Application.</p>
     </div>


    </div>


<div id="business_members">
        <h4>Business Entities</h4>

     <ul>
<div id="question">       
<div id="ask">Need More Sales?<br> 
Want to Improve Profitability?<br> 
Want Growth & Expansion in Business?<br> 
Not getting good Return on Investments (ROI)?<br>
</div>
<br>
<p>We help You in getting a Better Growth, Success and Return on Investments (ROI) in your Business. <br><p Style="color:#bf7fbf;">
    <span style="color:white;">Also Provide platform for Growth to those Individuals:</span><br>
    <i class="fa fa-star" aria-hidden="true"></i> Who dreamt of starting their Own Business<br>
<i class="fa fa-star" aria-hidden="true"></i> Who want to be successful in the Business world<br>
<i class="fa fa-star" aria-hidden="true"></i> Who have Dreams / Ideas / Technicalities / Mfg Capacity, but does  not  have adequate   Market experience or Expansion Resources / Finances.</p>
<p>Also Strengthen Our Business members with:</p>
</div>

      
<li><div id="section2_" class="section">Strengthening Business &nbsp;<span><i class="fa fa-caret-down" aria-hidden="true"></i><span></div>
        <div id="inside_section2_" class="inside_sections">
<i class="fa fa-star" aria-hidden="true"></i> Stock Management <br>
<i class="fa fa-star" aria-hidden="true"></i> Large Consumer Base and Volume Sales<br>
<i class="fa fa-star" aria-hidden="true"></i> Increased Turnover<br> 
<i class="fa fa-star" aria-hidden="true"></i> More Profitability<br> 
<i class="fa fa-star" aria-hidden="true"></i> Builds Credibility<br> 
<i class="fa fa-star" aria-hidden="true"></i> Improves Good Market Share<br> 
<i class="fa fa-star" aria-hidden="true"></i> Increases ROI
and Many More……<br>

        </div>
        </li>

      </ul>   
    <div id="benefits">
         <h4>Benefits for Business Entities</h4>
         <p id="small_text">As a member you also get the opportunity to:<br>
<i class="fa fa-star" aria-hidden="true"></i> Attend informal and structured events with a view to enhance your 
   Business<br> 
<i class="fa fa-star" aria-hidden="true"></i> Promote your business in person and on our website & App.<br> 
<i class="fa fa-star" aria-hidden="true"></i> Build and Meet new Business contacts for growth & expansion.<br>
</p>
   
     </div>


    </div>




</div>





    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

    <script>

    $(document).ready(function(){
        $('#section1').click(function() {
            $('#inside_section1').slideToggle("slow");
        });

        $('#section1').hover(function() {
            $('#section1').css('background-color','#bf7fbf')

        },function() {

            $('#section1').css('background-color','')

        });

        $(document).click(function(e) {
         if(e.target.id!="section1")
         {
            $("#inside_section1").slideUp("slow");
         }
         if(e.target.id!="section2")
         {
            $('#inside_section2').slideUp("slow");
         }
        });

        $('#section2').click(function() {
            $('#inside_section2').slideToggle("slow");
        });

        $('#section2').hover(function() {
            $('#section2').css('background-color','#bf7fbf')

        },function() {

            $('#section2').css('background-color','')

        });


    });
        

    </script>



    <script>

    $(document).ready(function(){
        $('#section1_').click(function() {
            $('#inside_section1_').slideToggle("slow");
        });

        $('#section1_').hover(function() {
            $('#section1_').css('background-color','#bf7fbf')

        },function() {

            $('#section1_').css('background-color','')

        });

        $(document).click(function(e) {
         if(e.target.id!="section1_")
         {
            $("#inside_section1_").slideUp("slow");
         }
         if(e.target.id!="section2_")
         {
            $('#inside_section2_').slideUp("slow");
         }
        });

        $('#section2_').click(function() {
            $('#inside_section2_').slideToggle("slow");
        });

        $('#section2_').hover(function() {
            $('#section2_').css('background-color','#bf7fbf')

        },function() {

            $('#section2_').css('background-color','')

        });


    });

    </script>
</body>
</html>