<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ishan Creations</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <!-- <link href="css/grayscale.css" rel="stylesheet"> -->

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"> -->
    <link href="{% static 'menu.css' %}" rel="stylesheet">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-to">
  <div id="image_div"><img id="logo" src="{% static 'IC_(logo)-W1.png' %}"/></div>

    <nav id="navbar" class="navbar navbar-custom navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars" style="color:white;"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                   <span id="name"> ISHAN CREATIONS </span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" id="font" href="#about">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="font" href="{% url 'icbc' %}">MEMBERS</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="font" href="{% url 'b_c' %}">BUSINESS CATEGORY</a>
                    </li>
                    <li>
                        <a class="page-scroll" id="font" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <div id="#intro">
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">An <span id="orange">INDIVIDUAL</span> can <span id="blue">STRENGTHEN</span> the <span id="green">WORLD</span>. </h1>
                        <br><p class="intro-text">Know How?<br></p>
                        <p id="arrow"><a href="#abou" class="btn btn-circle page-scroll">
                            <i id="icon" class="fa fa-angle-double-down animated fa-2x" style="color:#800080;"></i>
                        </a></p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div>

<div id="background">
    <!-- Message -->
    <section id="abou" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="margin">
                <p class="text-lines">Ishan Creations Empowers an Individual,<br><span >which Strengthens Family.</span></p>
                <p class="text-lines">Ishan Creations Empowers Family,<br><span>which Strengthens Society.</span></p>
                <p class="text-lines">Ishan Creations Empowers Society,<br><span>which Strengthens State.</span></p>
                <p class="text-lines">Ishan Creations Empowers State,<br><span>which Strengthens Country.</span></p>
                <p class="text-lines">Ishan Creations Empowers Country,<br><span>which Strengthens the World.</span></p>
              <div>
                <p id="about" class="message-end">"An Individual Can Strengthen the World"</p>

            </div>
        </div>
    </section>



    <section id="" class="container content-section text-center">
      <div></div>
        <div>
                <h2 class="sub-headings">ABOUT US</h2>
                <p class="about-para">Ishan Creations was created & founded by Rajneesh Kumar Malhotra. At Ishan Creations, Our aim from inception is to put the needs of others first, and our commitment to give back Value for money to them. Ishan Creations' Motto is <span style="font-family:fantasy">“Get More. SMARTLY”</span></p>
                <p class="introducing">Introducing</p>
                <div class="main_logo"><img id="image_width" src="{% static 'IC_(logo).png' %}"></div>
        </div>

        <p class="about-para">Ishan Creations is the World’s 1<sup>st</sup> and Unique innovative concept with a:<p>
        <h2 class="sub-headings">Vision</h2>
        <p class="vision">वसुधैव कुटुम्बकम (Vasudhaiv Kutumbakam)</p>
        <p class="small-text">The whole world is Family</p>

        <h2 class="sub-headings">Mission</h2>
        <p class="mission">Empowering Consumer, Strengthening Business</p>

        <p class="about-para"><span style="font-weight: 800;">For Consumer</span>, Our objective is to make home consumables conveniently available with Value for money. We at Ishan Creations aim to provide Benefits in your Daily needs to Shopping, Dining to Entertainment, Fitness to Wellness and many more services with Trust.</p>
        <p class="about-para"><span style="font-weight: 800;">For Business entity</span>, We help to get Better ROI by strengthening their business with a long term Success and Growth.</p>
        <p class="about-para">It gives a platform to those Entrepreneurs / Business entities that are committed to provide Best Quality Products & Services to Our Consumer members at a reasonable competitive Price and eager to promote this awareness to everyone.</p>
        <p class="about-para">Our members are our family and we want to build Trust and Confidence in Consumer and Business entities to serve right & better by understanding their preferences and have a genuine, mutual and profound long term relationship with lots of Privileges & Benefits.</p>
        <p class="question">Not already associated with Us, what are You waiting for? </p>
        <p class="answer">Be a part of our Family & <span style="font-family:fantasy">Get More. SMARTLY<span></p>

    </section>



    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="sub-headings">CONTACT US</h2>
                <p class="small-text">For more information contact us at</p>
                <p class="number" ><i class="fa fa-phone" aria-hidden="true"></i> +91 97698 18327</p>
                <p class="number"><i class="fa fa-mobile" aria-hidden="true"></i> +91 81081 27110</p>
                <p class="link"><a href="mailto:ishancreations@hotmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> ishancreations@hotmail.com</a></p>

            </div>
        </div>


        <footer style="background-color: #800080; margin-top:25px">
            <div class="container text-center">
                <p class="small-text">Copyright &copy; Ishan Creations 2016</p>
            </div>
        </footer>


    </section>

</div>

    <!-- Footer -->


    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script> -->

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/grayscale.js' %}"></script>

    <script>
    var stickySidebar = $('#navbar').offset().top;

$(window).scroll(function() {
    if ($(window).scrollTop() > stickySidebar) {
        $('#navbar').addClass('fixed');
        $('#intro').addClass('top');
    }
    else {
        $('#navbar').removeClass('fixed');
          $('#intro').removeClass('top');
    }
});

    </script>

</body>

</html>
